<a href="https://colab.research.google.com/github/supraja57/supraja57/blob/master/python_2_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
n= int(input("num"))
i=1
while i<=n:
    print(i,end = ' ')
    i=i+1

num10
1 2 3 4 5 6 7 8 9 10

In [0]:
n= int(input("enter the number"))
sum = 0
while n!=0:
    r=n%10
    sum=sum+r
    n=n//10
print(sum)

enter the number123
6

# printing digits of numbers in reverse order

In [0]:
n= int(input("enter the number"))
while n!=0:
    r=n%10
    print(r,end='')
    n=n//10

enter the number123
321

## for loop synatax
 - for varaiable name interable _object:
    - statement
    
- for variable _name in rane (star,stop,steps):
    -  statement

In [0]:
#prirt 1 to 10 using loop
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
for i in range(0,10+1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [0]:
for i in "bipin ":
  print(i)

b
i
p
i
n

In [0]:
# addition of two number 
def addition(a,b):
    c = a+b
    print(c)
addition(3,4)

7

In [0]:
# find sum of of even digits from the number 
def evendigits_sum(n):
  sum=0
  while n!=0:
    r=n%10
    if r%2==0:
      sum=sum+r
    n=n//10
  return sum
evendigits_sum(123)

2

In [27]:
def largedit (n):
  large = 0
  while n!=0:
    r=n%10
    if large <r:
      large = r
    n = n//10
  return large
largedit (12541)

5

In [29]:
# palindrome or not
def palindrome(n):
  Rev=0
  buffer = n
  while n!=0:
    rev= rev*10+(n%10)
    n=n//10
  if rev==buffer
    return"palindrome"
  return "not a palindrome"  
  print(palindrome(121))
  palidrome(121)

SyntaxError: ignored